*{box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: #120323;
    color: #97BF04;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

figure img{
    border:solid red 5px;
   display: flex;
   margin: 50px 25px 0px 0px;
   flex-direction: row;
   justify-content: flex-start;
}

figcaption{
    flex-direction: column;
    display: flex;
    padding-top: 25px;
    flex:1;
   
}
 
aside {
    display: flex;
    flex: ;
    flex-direction: column;
    background-color: #97BF04;
    padding: 20px;
    color: black;
}