*{box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: #120323;
    color: #97BF04;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

div {
    display: flex;
    flex-direction: row;
}
figure {
   display: flex
}

figure img{
    border: solid red 5px;
    margin: 50px;
}

figcaption{
    flex-direction: column;
    display: flex;
    flex: 3;
    margin-top: 30px;
    border: solid;
}

aside {
    margin-top: 30px;
    display: flex;
    flex:;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #97BF04;
    padding: 20px;
   border: solid black 1px;

}

footer{
    margin-top: 1rem;
    background-color: #d9043d;
    color: white;
    padding: 3rem;
   text-align: center;

}