*{box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: #120323;
    color: #97BF04;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

figure {
   display: flex;
}

figure img{
    border: solid #d9043d 5px;
    margin: 20px;
    flex-wrap: wrap;
    min-width: 350px;
    min-height: 350px;
    flex-shrink: 5;
}

figcaption{
    flex-direction: column;
    flex-shrink: 1;
}

aside {
    margin-top: 30px;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    background-color: #97BF04;
    flex-shrink: 1.25;
}

footer{
    margin-top: 1rem;
    background-color: #d9043d;
    color: white;
    padding: 3rem;
   text-align: center;
}

@media screen and (max-width:999px){
    header{
        justify-content: center;
        align-items: center;
        flex-shrink:1;
        display: flex;
    }

    figure img{
        max-width: 300px;
        max-height: 300px;
    }

    div{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:767px){
    header{
       flex-direction: column;
        text-align: center;
    }

    figure{
        flex-direction: column;
        align-items: center;
    }
    figure img{
        justify-content: center;
        display: flex;
        max-width: 100%;
        max-height: 100%;
    }
}